#menu {
    background-color: rgba(59, 10, 175, 0.527);
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    color:black;
}
 a   {text-decoration: none;
}

h1 {
    text-align: center;
    color:  rgba(77, 8, 122, 0.753);
    font-family: Arial, Helvetica, sans-serif;
    border-color: black;
    border-style:10px, solid ;
}
.paragrafo1{
    text-align: center;
    font-size: 20px;
    color:rgba(23, 1, 77);
    font-family: Arial, Helvetica, sans-serif;
}
.imgNick{
    margin-right: 80px;
    margin-left: 50px;
}
.dogbranco{
    margin-right: 90px;

}

.contatos{
    width: 700px;
    margin: 100px;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(23, 1, 77);
    font-size: 20px;
}

.subtitulo {
    color: rgb(23, 1, 77);
    font-size:35px;
    text-align: center;
}

.principalimg{

    display: flex;
    margin-left: auto;
    margin-right: auto; 
}

.racao1{
    margin-right: 300px;
    margin-left: 100px;
}

.racao2{
    margin-right: 430px;
    margin-left: 100px;
}

.brinquedo{
    margin-right: 300px;
    margin-left: 100px;
}

.petiscos{
    margin-right: 300px;
    margin-left: 100px;
}

.sobre{
    font-size: 25px;
    color:rgba(23, 1, 77,)
}

.descricao{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
     margin-left: 100px;
    text-align: justify;
}

.rodape{
    color:rgb(23, 1, 77);
    text-align: center;
    font-size: 20px;
}
html{
    background-color:rgb(204, 198, 198);
}

